@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/Guestbook/Create">Create new entry</a>
    <div>
        <fieldset>
            <legend><b>Guestbook entries</b></legend>
            <ul>
                @foreach (var entry in ViewBag.Entries)
                {
                    <li>
                        This message <b> @entry.Message</b>
                        posted by <i>@entry.Name</i> on @entry.DateAdded.ToShortDateString()
                    </li>
                }
            </ul>
        </fieldset>
    </div>
    <fieldset>
        <legend><b>Create new entry data from querystring</b></legend>
        <form action="/Guestbook/Create" method="post">
            @*"/Guestbook/CreateFromQueryStringData"*@
            <div>
                <label for="name">Enter your name</label>
            </div>
            <div>
                <input type="text" name="name" id="name" />
            </div>
            <div>
                <label for="message">Enter your message</label>
            </div>
            <div>
                <input type="text" name="message" id="message" />
            </div>
            <br />
            <div>
                <input type="submit" value="Add" />
            </div>
        </form>
    </fieldset>
    <fieldset>
        <legend><b>Create new entry data from form</b></legend>
        <form action="/Guestbook/Create1" method="post">
            @*"/Guestbook/CreateFromFormData"*@
            <div>
                <label for="name">Enter your name</label>
            </div>
            <div>
                <input type="text" name="name" id="name" />
            </div>
            <div>
                <label for="message">Enter your message</label>
            </div>
            <div>
                <input type="text" name="message" id="message" />
            </div>
            <br />
            <div>
                <input type="submit" value="Add" />
            </div>
        </form>
    </fieldset>
    <fieldset>
        <legend><b>Create list guestbook entries</b></legend>
        <form action="/Guestbook/CreateList" method="post">
            @for (int i = 0; i <= 1; i++)
            {
                <div>
                    <label>Enter your name</label>
                </div>
                <div>
                    <input type="text" name="entryList[@i].Name" value="Guest @i" />
                </div>
                <div>
                    <label>Enter your message</label>
                </div>
                <div>
                    <input type="text" name="entryList[@i].Message" value="Hi" />
                </div>
                <br />
            }
            <div>
                <input type="submit" value="Add" />
            </div>
        </form>
    </fieldset>
</body>
</html>
