@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <a href="/RazorDemo/RazorSyntax"> Razor Syntax demo </a>
</div>
<div>
    <a href="/RazorDemo/RazorVariables"> Razor Syntax demo </a>
</div>
<div>
    <a href="/RazorDemo/RazorLoopsAndArrays"> Razor Syntax demo </a>
</div>

