@{
    ViewBag.Title = "RazorVariables";
}

<h2>RazorVariables</h2>

@*Using the var keyword:*@

@{
    var greeting = "Welcome to University";
    var counter = 103;
    var today = DateTime.Today;
}

@* Using data types:*@

@{
    string greeting1 = "Welcome to W3Schools";
    int counter1 = 103;
    DateTime today1 = DateTime.Today;
}

