@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script>
            $(document).ready(function () {
                $("#sendRequest").click(function () {
                    $.ajax({
                        url: "@Url.Action("ReturnJsonPost", "ReturnResult")",
                        type: "POST",
                        success: function (data) {
                            $("#result")
                                .append("Name: " + data.Name + "<br />")
                                .append("Message: " + data.Message + "<br />");
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <div>
            <a href="/ReturnResult/ReturnText">ActionResult as ContentResult</a>
        </div>
        <div>
            <a href="/ReturnResult/ReturnHtml">ActionResult as custom HtmlResult</a>
        </div>
        <div>
            <a href="/ReturnResult/ReturnImage">ActionResult as custom ImageResult</a>
        </div>
        <div>
            <a href="/ReturnResult/ReturnXml">ActionResult as XmlResult</a>
        </div>
        <div>
            <a href="/ReturnResult/ReturnJson">ActionResult as JsonResult</a>
        </div>
        <div>
            <a id="sendRequest" href="#">ActionResult as JsonResult (JavaScript)</a>
            <div id="result"></div>
        </div>
        <div>
            <a href="/ReturnResult/ReturnFile">ActionResult as FileResult</a>
        </div>
        <div>
            <a href="/ReturnResult/ReturnHttpCode404">ActionResult as HttpStatusCodeResult (404)</a>
        </div>
        <div>
            <a href="/ReturnResult/ReturnUnauthorizedCode">ActionResult as HttpUnauthorizedResult (401)</a>
        </div>
        <div>
            <a href="/ReturnResult/ReturnHttpStatusCode">ActionResult as HttpStatusCodeResult</a>
        </div>
        <div>
            <a href="/ReturnResult/ReturnRedirect">ActionResult as RedirectResult</a>
        </div>
        <div>
            <a href="/ReturnResult/ReturnRedirectPermanent">ActionResult as RedirectPermanentResult</a>
        </div>
        <div>
            <a href="/ReturnResult/ReturnView">ActionResult as RedirectViewResult</a>
        </div>
        <div>
            <a href="/ReturnResult/ViewBagDemo">ViewBagDemo</a>
        </div>
    </body>
    </html>

@*<div>
    <a href="/ReturnResult/ReturnText">ActionResult as ContentResult</a>
</div>
<div>
    <a href="/ReturnResult/ReturnHtml">ActionResult as custom HtmlResult</a>
</div>
<div>
    <a href="/ReturnResult/ReturnImage">ActionResult as custom ImageResult</a>
</div>
<div>
    <a href="/ReturnResult/ReturnXml">ActionResult as XmlResult</a>
</div>
<div>
    <a href="/ReturnResult/ReturnJson">ActionResult as JsonResult</a>
</div>
<div>
    <a id="sendRequest" href="#">ActionResult as JsonResult (JavaScript)</a>
    <div id="result"></div>
</div>
<div>
    <a href="/ReturnResult/ReturnFile">ActionResult as FileResult</a>
</div>
<div>
    <a href="/ReturnResult/ReturnHttpCode404">ActionResult as HttpStatusCodeResult (404)</a>
</div>
<div>
    <a href="/ReturnResult/ReturnUnauthorizedCode">ActionResult as HttpUnauthorizedResult (401)</a>
</div>
<div>
    <a href="/ReturnResult/ReturnHttpStatusCode">ActionResult as HttpStatusCodeResult</a>
</div>
<div>
    <a href="/ReturnResult/ReturnRedirect">ActionResult as RedirectResult</a>
</div>
<div>
    <a href="/ReturnResult/ReturnRedirectPermanent">ActionResult as RedirectPermanentResult</a>
</div>
<div>
    <a href="/ReturnResult/ReturnView">ActionResult as RedirectViewResult</a>
</div>
<div>
    <a href="/ReturnResult/ViewBagDemo">ViewBagDemo</a>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#sendRequest").click(function () {
                $.ajax({
                    url: "@Url.Action("ReturnJsonPost", "ReturnResult")",
                    type: "POST",
                    success: function (data) {
                        $("#result")
                            .append("Name: " + data.Name + "<br />")
                            .append("Message: " + data.Message + "<br />");
                    }
                });
            });
        });
    </script>
}*@
