@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewDemo</title>
</head>
<body>
    <div>
        ViewBag: @ViewBag.MessageAgain<br/>
        ViewData: @ViewData["Message"]<br/>
        TempData: @TempData["Message"]<br />
        TempData (Peek): @TempData.Peek("Message") <br/>
    </div>
</body>
</html>
